main{
    & section{
        padding: 25px 0;
    }
    & .divs{
        display: flex;
        row-gap: 30px;
  column-gap: 30px;
        align-items: center;

        & div{
            border: 2px solid green;
        }
    }
}
.p2{
    font-family: "Pacifico", cursive;
}
