
.order {
padding-bottom: 0 ;
.galary {

		&_cardBlock {
		}

		&__card {
		}

		&__item {
		}
}
.catd {
}
.card {

		&_item {
		}
}
.cardBlock {
}
.info {
    background-color: inherit;
    /* &__price{
        display: flex;
        justify-content: space-between;
        
        & .main{
            background-color: #FFF;
            clip-path: polygon(0 0, 100% 0%, 0% 1000%, 0 50%);
        }
        & .discont{
            background-color: orange;
            clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
        & .main, & .discont{
            display: flex;
            flex-wrap: wrap;
            gap: 25px;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            margin: 0;
        }
    } */
    & input {
        width: 100%;
        height: 50px;
        border-radius: 75px;
        border:none;
        padding: 0 15px;
        text-align: center;

    }
}
.btnOrder {
}
.countProduct {
}
}