
.review {

& .galary {

		&_cardBlock {
            background-color: beige;
            border-radius: 25px;
            & img{
                margin: 0;
                border-top-left-radius: 25px;
                border-top-right-radius: 25px;
            }
		}

		&__card {
		}

		&__item {
            flex-basis: 100%;
		}
}
.card {

		&_item {
		}
}
.cardBlock {
}
}