.countProduct{
    text-align: center;
    font-size: 20px;
    color: #FFF;
    & p{
        & span{
            display: inline-block;
            background-color: orange;
            margin: 0;
            border-radius: 20px;
            padding: 20px;
            clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 20% 100%);
        }
    }
}