@font-face{
	font-family: "Pacifico", cursive;
	font-display: swap;
	src: url("../fonts/Pacifico-Regular.woff2") format("woff2"), url("../fonts/Pacifico-Regular.woff") format("woff"),url("../fonts/Pacifico-Regular.ttf")format("truetype");
	font-weight: 900;
	font-style: normal;
}

